<div class="bg-dark bg-gradient p-5 my-5 rounded">
    <h1 class=" text-light ">Bem-Vindo</h1>
    <p class="lead text-light">
     Esse portifólo é para autenticar usuários e cadastra a categoria do seu emprego (se ele trabalhar CLT ou INFORMAL). E ainda o usuários tem a parte de contato!
    </p>
    <%= link_to 'Cadastrar Usuário', new_user_path, class:'btn btn-lg btn-secondary'%>
</div>

